apiVersion: v1
kind: Namespace
metadata:
  name: mlops-proyecto-final
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: mlops-proyecto-final
data:
  init.sql: |
    CREATE DATABASE raw_data;
    CREATE DATABASE clean_data;
    CREATE DATABASE mlflow_metadata;
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: mlops-proyecto-final
type: Opaque
stringData:
  POSTGRES_USER: mlops_user
  POSTGRES_PASSWORD: mlops_password
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: mlops-proyecto-final
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: mlops-proyecto-final
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        envFrom:
        - secretRef:
            name: postgres-secret
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
      - name: init-script
        configMap:
          name: postgres-init
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: mlops-proyecto-final
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
  type: ClusterIP
